/* Ресет Эрика Мейера */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Общие настройки для всего документа */

html,
body,
h3 {
	font-family: "Arial", "Tahoma", "Geneva", sans-serif;
	width: 100%;
}

h1 {
	font-size: 17px;
	margin: 0 0 26px -3px;
	font-weight: bold;
}

h2 {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	margin: 18px 0;
	font-weight: bold;
}

p,
ul,
ol {
	font-size: 13px;
	line-height: 18px;
	margin: 18px 0;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol li {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: decimal;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

a:hover {
	border-bottom-color: #ffde00;
	color: #ffde00;
	cursor: pointer;
	text-decoration-color: #ffde00;
}

a:active {
	border-bottom-color: #ffae00;
	color: #ffae00;
	cursor: pointer;
	outline: none;
	text-decoration-color: #ffae00;
}

body {
	min-width: 1000px;
}

.wrapper {
	width: 944px;
}

.inside-content {
	padding: 3px 0 0 0;
	align-self: flex-end;
	width: 724px;
	float: right;
}

@media (max-width: 480px) {
	body {
		min-width: 480px;
	}

	.wrapper {
		width: 425px;
	}

	.inside-content {
		width: 425px;
		margin-bottom: 25px;
		align-self: center;
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 21px;
		margin: 40px 0 13px 0;
	}

	p,
	ul,
	li {
		font-size: 15px;
	}

	p {
		text-align: justify;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

/* Хэдер страницы */
.page-header {
	align-items: center;
	/* Реализация фона с помощью повторяющихся градиентов */
	background: linear-gradient(-45deg, #444 35%, #000 35%, #000 65%, #444 65%) -3px -6px;
	background-size: .5em .5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

/* Градиент на всю шапку: необходимо вводить индесацию элементов (z-index) и их позиционирование (position) */
.page-header::before {
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .05) 100%);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

/* Верхняя часть хэдера */
.header-top {
	color: #e7eeef;
	display: flex;
	justify-content: space-around;
	padding: 15px 0 9px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.header-logo {
	align-items: center;
	background-color: #000;
	border: 1px solid #7f7f7f;
	border-radius: 17px;
	box-shadow: 5px 5px 25px 0 #000;
	display: flex;
	flex-direction: column;
	font-size: 24px;
	height: 199px;
	justify-content: space-around;
	line-height: 18px;
	margin: 0 10px 0 auto;
	text-transform: uppercase;
	width: 207px;
}

.header-logo__image {
	margin: 42px 50px 24px 63px;
}

.header-logo__caption {
	margin-bottom: auto;
	padding: 0 1px;
}

.company-info {
	background: #000 url(../img/contacts-bg.jpg) no-repeat;
	border: 1px solid #7f7f7f;
	border-image-slice: 1;
	border-radius: 17px;
	box-shadow: 5px 5px 25px 0 #000;
	margin-right: auto;
	position: relative;
	width: 724px;
}

.company-info__tagline {
	font-size: 23.6px;
	font-style: italic;
	position: absolute;
	right: 83px;
	top: 23px;
}

.contacts {
	align-items: center;
	bottom: 19px;
	display: flex;
	justify-content: space-between;
	left: 3px;
	padding: 0 36px 0 27px;
	position: absolute;
	width: 320px;
	flex-wrap: wrap;
}

.contacts__link-mail {
	border: none;
	color: inherit;
	font-size: 14px;
	text-decoration: none;
}

.contacts__link-phone {
	border: none;
	color: inherit;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 18px;
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.header-logo {
		width: 423px;
		margin-right: 1px;
		margin-left: -1px;
	}

	.header-logo__image {
		margin: 40px auto 25px 50px;
	}

	.header-logo__caption {
		margin: 0 auto auto 23px;
	}

	.company-info {
		background: none;
		border: none;
		box-shadow: none;
		width: 0;
	}

	.company-info__tagline {
		right: 20px;
		top: 107px;
		line-height: 28px;
		width: 200px;
	}

	.contacts {
		padding: 0;
		left: -219px;
		bottom: 127px;
		width: 200px;
		height: 40px;
		line-height: 25px;
	}

	.contacts__link-mail {
		order: 2;
		border-bottom: 1px solid #e7eeef;
		height: 20px;
	}

	.contacts__link-phone {
		order: 1;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

/* Строка состояния пользователя */
.user-info {
	align-items: center;
	/* Реализация фона с помощью повторяющихся элементов */
	background: linear-gradient(-45deg, #00282f 15%, #000 15%, #000 35%, #00282f 35%, #00282f 65%, #000 65%, #000 85%, #00282f 85%);
	background-size: .4em .4em;
	border: 1px solid #525252;
	border-radius: 17px;
	box-shadow: 5px 5px 20px 0 #000, inset 0 10px 10px 0 rgba(0, 0, 0, 0.2);
	color: #f6f6f6;
	display: flex;
	font-size: 12px;
	height: 34px;
	justify-content: flex-start;
	margin-bottom: 9px;
	position: relative;
	width: 941px;
	z-index: 1;
}

.user-info__form {
	display: flex;
	font-family: "Tahoma", sans-serif;
	margin-left: 22px;
}

.user-info__label {
	font-weight: lighter;
	line-height: 34px;
	margin-right: 3px;
}

.user-info__label_margin-right_bigger {
	margin-right: 4px;
}

.user-info__input {
	background-image: linear-gradient(0deg, #4e5658 0%, #707779 100%);
	border: none;
	border-radius: 5px;
	font-size: 12px;
	height: 20px;
	margin: 7px 21px 5px 0;
	padding: 0 6px 2px;
	width: 104px;
}

.user-info__input:focus,
.user-info__input_filled-white {
	background-image: linear-gradient(0deg, #fff 0%, #b0b7b8 100%);
	outline: none;
}

.user-info__link {
	background: none;
	border: none;
	border-bottom: 1px solid #f6f6f6;
	color: inherit;
	font-size: 12px;
	font-weight: 700;
	height: 15px;
	margin: 10px 14px 0 -7px;
	padding: 0;
}

.user-info__link_reposition {
	height: 13px;
	margin: 2px 260px 0 14px;
	text-decoration: none;
}

.cart-label {
	color: #fff;
	font-family: "Arial", sans-serif;
	margin: 12px 0 8px;
	position: relative;
}

.cart-label::before {
	background: url(../img/cart-icon.png);
	content: "";
	height: 19px;
	left: -28px;
	position: absolute;
	top: -4px;
	width: 20px;
}

.cart-label__link {
	border-bottom: 1px solid #fff;
	color: inherit;
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.user-info {
		width: 423px;
		margin: 9px 0 20px;
	}

	.user-info__label,
	.user-info__input {
		display: none;
	}

	.user-info__link {
		margin: 0;
		margin-left: 3px;
	}

	.user-info__link_reposition {
		margin-top: 2px;
		margin-right: auto;
		margin-left: 22px;
	}

	.cart-label {
		margin-right: 17px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

/* Навигационная панель хэдера */
.header-nav {
	align-items: center;
	background: url(../img/header-nav-bg.png) repeat-x;
	background-size: 48px;
	box-shadow: 0 7px 20px -5px rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	z-index: 1;
}

.menu-toggler {
	color: #fff;
	display: none;
	font-size: 15px;
	line-height: 25px;

	margin: 18px 0 15px;
	position: relative;
}

.menu-toggler:hover {
	color: #ffde00;
	cursor: pointer;
}

.menu-toggler::before {
	content: "";
	background: url(../img/menu-icon.png) no-repeat;
	position: absolute;
	width: 27px;
	height: 25px;
	left: -45px;
}

.menu-togglable {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 32px 0 23px;
}

.header-nav-item__link {
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	line-height: 48px;
	text-decoration: none;
}

.header-nav-item__link_current {
	border-bottom-color: #ffde00;
	color: #ffde00;
	cursor: default;
	text-decoration-color: #ffde00;
}

.active {
	margin: 10px 0 7px -19px;
}

.active .header-nav-item__container-for-link {
	background: #fff;
	border-radius: 10px 10px 0 0;
	padding: 8px 15px 4px 19px;
}

.active .header-nav-item__link {
	color: #005bc1;
	border-bottom: 1px solid #005bc1;
}

.sub-menu {
	background: #fff;
	border-radius: 0 10px 10px 10px;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 359px;
	margin-top: -7px;
	padding: 16px 19px 12px 21px;
}

.sub-menu__link {
	color: #005bc1;
	line-height: 32px;
}

.sub-menu__list-item {
	height: 32px;
}

@media screen and (max-width: 480px) {
	.header-nav {
		align-items: flex-start;
		background: #7c8384;
		box-shadow: none;
	}

	.header-nav-item {
		line-height: 32px;
	}

	.header-nav .wrapper {
		margin-left: 72px;
		width: 408px;
	}

	.menu-togglable {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		margin-bottom: 25px;
	}

	.header-nav-item__link {
		font-size: 15px;
		line-height: 32px;
	}

	.sub-menu {
		display: none;
	}

	.sub-menu__link {
		border-bottom: 1px solid #005bc1;
		font-style: italic;
	}

	.menu-toggler {
		display: block;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

/* Основное содержание документа */
.content {
	align-items: center;
	background: #f6f6f6;
	display: flex;
	flex-direction: column;
	padding: 50px 0 0;
}

/* Блок иллюстрированных категорий */
.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2px 0 0;
	width: 724px;
	float: right;
}

.category {
	margin-bottom: 56px;
	width: 220px;
}

.category__link {
	color: #005bc1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: none;
}

.category__image {
	border: 5px solid #797979;
	height: 145px;
	margin-bottom: 9px;
	width: 210px;
}

.category__name-container {
	color: inherit;
	display: block;
	font-size: 15px;
	height: 15px;
}

.category__name-inner {
	display: inline;
	border-bottom: 1px solid #005bc1;
}

@media screen and (max-width: 480px) {
	.content {
		padding-top: 32px;
		padding-bottom: 45px;
	}

	.content__wrapper {
		padding: 0;
		width: 440px;
		justify-content: flex-start;
	}

	.categories {
		justify-content: space-between;
		width: 440px;
		margin: 4px 0 0 1px;
	}

	.category {
		margin: 0 auto 53px;
		width: 206px;
	}

	.category__image {
		width: 195px;
		height: 135px;
	}

	.category__name-container {
		margin-left: -1px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/


/* Блок с текстом */
.seo-article,
.product__description {
	color: #666;
	font-size: 12px;
	line-height: 14.772px;
	margin: 12px 2px 81px 0;
	text-align: justify;
	width: 724px;
	float: right;
}

.seo-article h2,
.product__description h2 {
	color: #666;
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 16px;
	line-height: 16px;
}

.seo-article p,
.product__description p {
	font-size: 12px;
	line-height: 16.8px;
	margin: 0 0 16px;
}

.product__description h2 {
	display: none;
}

@media screen and (max-width: 480px) {

	.seo-article,
	.product__description {
		width: 425px;
		margin-right: 9px;
		margin-bottom: 28px;
	}

	.seo-article h2,
	.product__description h2 {
		font-size: 21px;
		margin: -2px 0 14px 0;
	}

	.seo-article p,
	.product__description p {
		font-size: 15px;
		margin-bottom: 10px;
		line-height: 20px;
		text-align: left;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

/* Сайдбар: неиллюстрированный каталог и блок новостей */
.sidebar {
	float: left;
	width: 176px;
	margin-bottom: 43px;
}

.page-wrap {
	height: 100%;
	page-break-after: always;
}

.catalog {
	margin-bottom: 73px;
}

.sidebar__headline {
	color: #c24000;
	font-size: 17px;
	line-height: 20.4px;
	margin: 0 0 21px;
}

.catalog-list {
	margin: 0 0 0 2px;
}

.catalog-list__item {
	line-height: 12px;
	margin-bottom: 17px;
}

.catalog-list__item_active {
	margin-left: -15px;
	margin-bottom: 16px;
	padding-top: 1px;
}

.catalog-list__item_active .catalog-list__link {
	border: none;
	background: #e3e3e3;
	border-radius: 10px;
	padding: 7px 14px 8px 15px;
	color: #000;
}

.catalog-list__link {
	border-bottom: 1px solid #005bc1;
	color: #005bc1;
	font-size: 13px;
	text-decoration: none;
}

.news {
	width: 165px;
}

.news__headline {
	color: #058b7a;
	margin: 0 0 20px 1px;
}

.news-list {
	margin: 0;
}

.news-item__link {
	font-size: 13px;
	line-height: 15.6px;
	border-bottom: 1px solid #005bc1;
}

.archive {
	display: block;
	margin-left: 1px;
	margin-top: -8px;
}

.archive__link {
	font-size: 13px;
	color: #005bc1;
	border-bottom: 1px solid #005bc1;
}

.news-item {
	line-height: 16.9px;
	margin-bottom: 27px;
	margin-left: 2px;
}

.news-item__link {
	color: #005bc1;
	font-size: 11px;
}

.news-item__date {
	color: #666;
	display: block;
	font-size: 10px;
	line-height: 10px;
	margin-top: 9px;
	position: relative;
}

.news-item__date::after {
	border: 1px solid #dadada;
	bottom: -18px;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	width: 136px;
}

.news-item:last-child .news-item__date::after {
	border: none;
}


@media screen and (max-width: 480px) {

	.sidebar,
	.news {
		position: relative;
		width: 425px;
	}

	.news {
		margin-left: 6px;
	}

	.news__headline {
		font-size: 21px;
		margin-top: -1px;
		margin-bottom: 21px;
	}

	.news-item__link {
		font-size: 15px;
	}

	.news-item {
		margin-bottom: 34px;
	}

	.news-item__date {
		font-size: 13px;
		margin-top: 15px;
	}

	.news-item__date::after {
		width: 422px;
		bottom: -21px;
		left: -1px;
	}

	.archive {
		margin-top: -9px;
		margin-left: 0;
	}

	.archive__link {
		font-size: 15px;
	}

	.catalog {
		display: none;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/


/* Футер страницы */
.page-footer {
	align-items: center;
	background: linear-gradient(-45deg, #444 35%, #000 35%, #000 65%, #444 65%) -3px 0;
	background-size: .5em .5em;
	box-shadow: 0 -7px 20px -5px rgba(0, 0, 0, .3);
	display: flex;
	flex-direction: column;
	position: relative;
}

/* Реализация градиента */
.page-footer::before {
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .05) 100%);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.page-footer__wrapper {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
}

/* Блок копирайта */
.copyright {
	margin-top: 1px;
	position: relative;
	z-index: 1;
	margin-left: 1px;
}

.copyright__part {
	color: #a4a4a4;
	display: block;
	font-size: 11px;
	margin-bottom: 6px;
}

.copyright__lifetime {
	font-size: 11px;
	margin-bottom: 9px;
}

.copyright__company-lifetime {
	font-size: 12px;
}

.copyright__image {
	height: 28px;
	margin: 13px 0 5px 7px;
	width: 36px;
}

.copyrhigt__company-name {
	font-size: 9px;
	text-transform: uppercase;
}

/* Нижняя навигация по сайту */
.footer-nav {
	margin-left: 107px;
	position: relative;
	z-index: 1;
}

.footer-nav__list {
	display: flex;
	justify-content: flex-start;
	line-height: 20px;
	margin-top: -4px;
}

.footer-nav__link {
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 11px;
	margin-right: 21px;
	position: relative;
	text-decoration: none;
}

.footer-nav__link::after {
	border-right: 1px solid #fff;
	bottom: 0;
	content: "";
	height: 10px;
	position: absolute;
	right: -10px;
	width: 0;
}

.footer-nav__list-item:last-child .footer-nav__link::after {
	border: none;
}

/* Блок информации о разработчике */
.developer {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	position: relative;
	z-index: 1;
	margin-top: 1px;
}

.developer__ref,
.developer__link {
	color: #fff;
	font-size: 11px;
}

.developer__link {
	border-bottom: 1px solid #fff;
	text-decoration: none;
}

.developer__ref {
	display: block;
}

.counter {
	margin: 52px 1px 60px 0;
}

@media screen and (max-width: 480px) {
	.page-footer__wrapper {
		padding-top: 40px;
	}

	.copyright {
		margin-left: 3px;
	}

	.copyright__image {
		margin-left: 7px;
	}

	.copyright__company-name {
		margin-left: -2px;
	}

	.footer-nav {
		display: none;
	}

	.counter {
		margin: 46px 0 60px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.shipment-article {
	margin-right: 12px;
}

/* Дополнительные элеменеты */
.page-header a:hover,
.page-footer a:hover {
	border-bottom-color: #ffde00;
	color: #ffde00;
	cursor: pointer;
	text-decoration-color: #ffde00;
}

.content a:hover,
.content a:hover .category__name-inner {
	border-bottom-color: #549ef1;
	color: #549ef1;
	cursor: pointer;
	text-decoration-color: #549ef1;
}

.category__link:hover .category__image {
	border-color: #00b31d;
}

.active .header-nav-item__link:hover {
	color: #005bc1;
	border-bottom: 1px solid #005bc1;
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/



/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.bread-crumbs-container {
	display: block;
	margin: -1px 0px 11px -2px;
}

.bread-crumbs {
	display: inline;
	color: #9d9d9d;
	font-size: 11px;
}

.bread-crumb {
	display: inline;
	position: relative;
	margin-right: 14px;
}

.bread-crumb::after {
	content: "→";
	position: absolute;
	top: -3px;
	left: -14px;
}

.bread-crumb:last-child {
	margin-right: 0;
}

.bread-crumb:first-child::after {
	content: "";
}

.bread-crumb__link {
	color: inherit;
	border-bottom: 1px solid #9d9d9d;
}

@media screen and (max-width: 480px) {
	.bread-crumbs-container {
		margin-top: -10px;
		margin-left: -8px;
	}

	.bread-crumb {
		font-size: 11px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.search-filter {
	display: flex;
	margin: 0 0 28px -1px;
}

.search-filter__item {
	display: flex;
	align-items: center;
	margin: 0 -2px 0 0;
}

.search-filter__label {
	font-size: 13px;
	color: #4c4c4c;
	margin-right: 1px;
}

.search-filter__input {
	border-radius: 9px;
	border: 1px solid #c6bfac;
	box-shadow: none;
	color: #4c4c4c;
	height: 25px;
	margin: 0 10px 0 9px;
	padding: 0 9px 2px 9px;
	width: 70px;
	font-size: 13px;
	line-height: 13px;
}

.search-filter__input::placeholder {
	color: #9d9d9d;
}

.search-filter__input::-webkit-outer-spin-button,
.search-filter__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.search-filter__input:focus {
	outline: none;
}

.form-submit {
	background: none;
	border: none;
	border-bottom: 1px solid #00b31d;
	color: #00b31d;
	font-size: 13px;
	font-weight: bold;
	padding: 0;
}

.search-filter__apply {
	margin: auto 0 auto 9px;
	height: 17px;
}

.search-filter__apply:hover {
	color: #00f028;
	border-color: #00f028;
}

.search-filter__apply:focus {
	outline: none;
}


@media screen and (max-width: 480px) {
	.search-filter {
		margin-left: -8px;
		margin-bottom: 35px;
	}

	.search-filter__input {
		width: 60px;
		margin-right: 9px;
	}

	.search-filter__apply {
		background: #fff url(../img/search__apply-icon.png) no-repeat 50% 50%;
		border: 1px solid #00b31d;
		border-radius: 9px;
		height: 29px;
		width: 30px;
		color: transparent;
		margin-left: 2px;
	}

	.search-filter__apply:hover {
		color: transparent;
	}

	.search-filter__apply:focus {
		color: transparent;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.categories__reposition {
	margin-right: 2px;
}

.good-piece {
	margin-bottom: 44px;
}

.good_name {
	margin: 1px 0 3px -1px;
}

.good-price {
	font-size: 24px;
	font-weight: bold;
}

.good_price {
	display: block;
	margin: 9px 0 11px -1px;
}

.good-price__currency {
	font-weight: normal;
	font-size: 18px;
	margin-left: -2px;
}

.good-to-cart {
	font-size: 13px;
	height: 16px;
	background: none;
	border: none;
	border-bottom: 1px solid #005bc1;
	color: #005bc1;
	padding: 0;
	position: relative;
}

.good-to-cart::before {
	background: url(../img/cart-icon_black.png);
	content: "";
	height: 19px;
	position: absolute;
	bottom: -2px;
	left: -26px;
	width: 20px;
}

.good-to-cart:hover {
	border-bottom-color: #549ef1;
	color: #549ef1;
	cursor: pointer;
	text-decoration-color: #549ef1;
}

.good-to-cart:focus {
	outline: none;
}

.good_to-cart {
	margin: 0 0 0 26px;
}

@media screen and (max-width: 480px) {
	.categories__reposition {
		margin-right: 0;
		float: left;
		margin-left: -14px;
		margin-bottom: -3px;
		width: 438px;
	}

	.good-piece {
		margin-bottom: 45px;
	}

	.good__image {
		margin-bottom: 6px;
	}

	.good_name {
		margin-left: 0px;
	}

	.good_price {
		margin-left: 0;
		margin-bottom: 10px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.paginator {
	display: flex;
	justify-content: space-between;
	width: 360px;
	margin: 0 auto;
}

.catalog-page__paginator {
	margin: 0 26.2% 62px 172px;
	padding-top: 1px;
}

.paginator__elem {
	align-items: center;
	color: #000;
	display: flex;
	font-size: 13px;
	height: 24px;
	justify-content: space-around;
	width: 25px;
}

.paginator__elem_current {
	background: #797979;
	border-radius: 2px;
}

.paginator__elem_current .paginator__link {
	text-decoration: none;
	border: none;
	color: #fff;
}

.paginator__link {
	color: inherit;
	text-decoration: underline;
}

.paginator__elem_next {
	margin-left: 9px;
	width: auto;
}

@media screen and (max-width: 480px) {
	.catalog-page__paginator {
		margin: -12px auto 0 40px;
		width: 328px;
	}

	.paginator__elem_next {
		margin-left: 0px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.product {
	margin: 25px 0 0 -2px;
}

.product__bread-crumbs {
	margin-bottom: 25px;
}

.product__headline {
	margin-top: 6px;
	font-size: 18px;
	line-height: 21.5px;
	margin-bottom: 18px;
}

.product__image {
	float: left;
	outline: 5px solid #797979;
	outline-offset: -5px;
	width: 451px;
	height: 318px;
	margin-bottom: 16px;
}

.product__info-block-part {
	float: right;
	width: 250px;
	margin-right: 2px;
}

.product__info-price {
	margin-bottom: 16px;
}

.product__form {
	display: flex;
	align-items: center;
}

.product__amount-tumbler {
	margin-left: 1px;
	margin-right: 21px;
}

.amount-tubmler {
	display: flex;
	font-size: 13px;
	color: #000;
}

.amount-tumbler__button {
	background: #fff;
	border: 1px solid #dadada;
	box-shadow: none;
	color: #4c4c4c;
	padding: 0 9px;
}

.product__good_to-cart {
	align-self: flex-start;
	margin-top: 5px;
}

.amount-tumbler__button_left {
	background:
		linear-gradient(90deg, #fff 0%, #fff 27%, transparent 27%, transparent 76%, #fff 76%, #fff 100%),
		linear-gradient(transparent 0%, transparent 47.5%, #000 47.5%, #000 52.5%, transparent 52.5%, transparent 100%),
		linear-gradient(#fff, #fff);
	border-right: none;
	border-radius: 5px 0 0 5px;
}

.amount-tumbler__button_right {
	background:
		linear-gradient(90deg, #fff 0%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 100%),
		linear-gradient(transparent 0%, transparent 46.5%, #000 46.5%, #000 52.5%, transparent 52.5%, transparent 100%),
		linear-gradient(#fff 0%, #fff 29%, transparent 29%, transparent 71%, #fff 71%, #fff 100%),
		linear-gradient(90deg, transparent 0%, transparent 46.5%, #000 46.5%, #000 53%, transparent 53%, transparent 100%),
		linear-gradient(#fff, #fff);
	border-left: none;
	border-radius: 0 5px 5px 0;
	padding-right: 10px;
}

.products-amount__input {
	border-color: #dadada;
	border-radius: 0;
	height: 22px;
	position: relative;
	text-align: center;
	width: 33px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.product__description {
	margin-bottom: 201px;
}

@media screen and (max-width: 480px) {
	.content__product {
		padding-bottom: 34px;
	}

	.product__bread-crumbs {
		margin: -20px 0 29px -8px;
	}

	.product {
		margin-top: -16px;
		margin-left: -6px;
	}

	.product__info-block-part {
		float: left;
		width: 425px;
	}

	.product__headline {
		margin-bottom: 9px;
		margin-left: -4px;
	}

	.product__image {
		margin-left: -3px;
		margin-bottom: 12px;
		width: 426px;
		height: 300px;
	}

	.product__info-price {
		margin-left: -4px;
		margin-top: 11px;
	}

	.product__form {
		margin-left: -4px;
		margin-bottom: 26px;
	}

	.product__amount-tumbler {
		margin-right: 33px;
	}

	.amount-tumbler__button {
		padding: 16px 16.25px;
	}

	.amount-tumbler__button_left {
		border-radius: 9px 0 0 9px;
	}

	.amount-tumbler__button_right {
		border-radius: 0 9px 9px 0;
	}

	.products-amount__input {
		width: 58px;
		height: 38px;
		font-size: 24px;
	}

	.product__good_to-cart {
		margin-top: 12px;
		font-size: 15px;
		line-height: 15px;
	}

	.product__description {
		margin-bottom: 0;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.contacts-page__main-headline {
	margin-top: -1px;
}

.contacts-section {
	width: 100%;
	margin-top: -34px;
}

.contacts-section__second-column {
	width: 292px;
}

.contacts-section h1 {
	margin-top: -13px;
	margin-bottom: -8px;
}

.contacts-section h2 {
	margin-top: 36px;
}

.contacts-section h3 {
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: -15px;
	font-weight: bold;
}

.feedback-form {
	display: flex;
	flex-direction: column;
	margin: 78px 0 48px 3px;
}

.feedback-form__headline {
	margin: 0 auto 23px -3px;
	font-size: 17px;
}

.feedback-form__hint {
	margin: -21px 0 15px -1px;
}

.required-star {
	color: #f00;
	font-size: 13px;
	line-height: 12px;
}

.error-box {
	border: 1px solid #ffdcdc;
	background: #fff1f1;
	padding: 5px 30px 8px 13px;
	margin: 0 auto 20px -1px;
}

.error-text {
	color: #f00;
	font-size: 12px;
}

.error-message {
	margin: 0;
	line-height: 21px;
}

.inner-label {
	display: inline-block;
	width: 130px;
	height: 25px;
	font-size: 12.5px;
	color: #424242;
	text-align: right;
	margin-right: 5px;
	margin-left: -15px;
	vertical-align: 1px;
}

.optional {
	margin-left: -24px;
	margin-right: 14px;
}

.feedback-form__row {
	margin: 0 auto 18px 0;
}

.inner-input-box {
	border: 1px solid #c6bfac;
	border-radius: 7px;
	background: #fff;
	color: #000;
	height: 16px;
	font-size: 13px;
	width: 262px;
	padding: 5px 8px 6px;
}

.feedback-form__error-hint {
	display: block;
	margin: 3px 0 0 131px;
}

.feedback-text-area__label {
	font-weight: bold;
	font-size: 13px;
	color: #424242;
	display: inline-block;
	width: auto;
	margin: 4px 0 -4px;
}

.feedback-text-area__input {
	margin-bottom: 10px;
	width: 100%;
	height: 128px;
	margin-left: -1px;
	vertical-align: top;
	resize: none;
}

.feedback-form__row_left-shift {
	margin-left: 125px;
	width: 421px;
}

.incorrect-input-style {
	border-color: #f00;
}

.clear-inputs {
	color: #f00;
	border-color: #f00;
	margin-left: 28px;
}

@media screen and (max-width: 480px) {

	.contacts-section,
	.feedback-form {
		margin-left: -7px;
	}

	.contacts-section {
		width: 425px;
		margin-top: 0px;
	}

	.contacts-section tr,
	.contacts-section td {
		display: block;
	}

	.feedback-form {
		margin-bottom: 0;
		margin-top: 30px;
	}

	.feedback-form__hint {
		font-size: 13px;
	}

	.error-box {
		border: none;
		margin-left: -7px;
		margin-bottom: 27px;
		margin-right: 10px;
	}

	.inner-label {
		width: auto;
		display: block;
		margin: 0 0 -4px 6px;
		text-align: left;
	}

	.feedback-form__error-hint {
		margin-left: 6px;
		margin-top: 7px;
	}

	.feedback-form__row {
		margin-bottom: 13px;
	}

	.feedback-form__row_left-shift {
		margin-left: 0;
		margin-right: 1px;
		width: 425px;
	}

	.feedback-text-area__input {
		width: 409px;
	}

	.error-message {
		font-size: 12px;
	}

	.optional {
		margin: 0 0 -3px 7px;
	}
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

.inside-content__registration {
	margin-bottom: 36px;
}

.feedback-form__registration {
	margin-top: -3px;
}

.registration-headline {
	color: #424242;
	font-size: 21px;
	margin-bottom: 27px;
	margin-left: -2px;
}

.feedback-form__registration-password {
	padding-top: 3px;
}

.feedback-form__registration-password-confirm {
	padding-top: 1px;
	margin-bottom: 14px;
}

.form-submit__registration {
	margin-left: -2px;
}

.registration-headline_login {
	margin-bottom: 21px;
}

.form-submit__login {
	margin: 11px 0px 68px -1px;
}

.data-send:hover {
	color: #00f028;
	border-color: #00f028;
}

.clear-inputs:hover {
	color: #ff7070;
	border-color: #ff7070;
}

.invisible {
	display: none;
}

.hidden {
	opacity: 0;
}